/* YOUR CODE HERE */
*{
    margin: 0;
    padding: 0;
}

#pictures-container{
    background-color: #666;
    height: 150px;
    width: 150%;
}

#pictures-container img{
    height: 150px;
    width: 150px;
    margin-right: 1em;
    cursor: pointer;
}

#pictures-container img:first-child{
    margin-left: 20%;
}